body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
.alert {
    background-color: #ff4545;
    margin: 50px;
}
.form_Login {
   
    background-color: #298ee0;
    width: 20%;
    height: 275px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    border-color: white;
    border-width: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}
.log-in, .log-out, .register {
    
  background-color: #00acb0;
  margin: 30px;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

/* login page */
.login-page{
    background-image: url("/images/Peacocktap.JPG");
    background-repeat: no-repeat;
    background-size: cover;

}
/* Admin/home page */
.admin_main {
    background-image: url("/images/Peacocktap.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.admin_card {
    opacity: 0.7;  
    margin-left: 50px; 
    margin-right: 50px;
}
/* Add New Customer/ update customer pag */
.form_newCust {
    opacity: 0.7 ;
    /* width: auto;
    height: auto; */
    /* margin: 15px; */
    /* padding: 25px; */
    border-radius: 2px;    
}

.project_page {
    /* padding: 20px; */
    background-image: url("/images/workbench.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}
.project_contact {
    padding: 20px;
    color:white;
    background-image: url("/images/P1016156.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.project_contact_name {
    text-align: center;
}
.file_card {
    opacity: 0.7;  
    margin-left: 50px; 
    margin-right: 50px;
}
.file_text {
    margin: 10px;
}
.cust_info {
    margin: 10px;
}
.add_custpage {
    /* margin: 20px; */
    background-image: url("/images/workbench.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}